<%# Buttons: migrate, get sql migrations, commit+pull+migrate+push(if no conflicts) %>
<%- model_class = Migration -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Migrations' %></h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Name</th>
      <% all_envs.each do |env| %>
        <th><%= env.to_s.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @migrations.each do |migration| %>
      <tr>
        <td><%= migration.version %></td>
        <td><%= migration.name %></td>
        <% all_envs.each do |env| %>
          <td class="<%= migration.up?(env) ? 'success' : 'danger' %>"><i class="fa fa-<%= migration.up?(env) ? 'check' : 'times' %>-circle-o fa-3x"></i></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_migration_path,
            :class => 'btn btn-primary' %>
